* {
	font-size: 14px;
	font-family: "Lato", sans-serif;
}

body {
	margin: 0;
}

.top-header {
	position: relative;
	display: flex;
	height: 300px;
	width: 100%;
	overflow: hidden;
}

.menu-icon {
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
}

.branding {
	align-self: center;
	width: 100%;
}

.branding h1,
.branding h2 {
	text-align: center;
	font-weight: 400;
}

.branding h1 {
	font-size: 5.55em;
	font-weight: 500;
	margin: 0;
}

.branding h2 {
	font-size: 1.667em;
    color: #767676;
}

.slide-menu {
	width: 542px;
	height: 100vh;
	background-color: #222;
	position: fixed;
	right: -542px;
	transition: .3s all ease-in-out;
}

.main-wrapper {
	width: 100vw;
	position: absolute;
	right: 0;
	transition: .3s all ease-in-out;	
}

.entry-header {
	background-color: #222;
	width: 100%;
}

.entry-header h1{
	color: white;
    padding: .75em 0;
    font-size: 2.333em;
	text-align: center;
	margin: 0;
}

.img-wrapper {
	width: 600px;
	margin: 20px auto;
}

.img-wrapper img {
	width: 100%;
}

footer {
	background-color: #222;
	height: 100px;
}

.slide-menu nav {
	width: 400px;
	margin: 50px auto;
}

.slide-menu nav a {
	padding: 0.75em 0;
	font-size: 1.2em;
	font-weight: 400;
	text-decoration: none;
	cursor: pointer;
	text-transform: uppercase;
	color: white;
	display: block;
	border-bottom: 0.5px solid rgba(255,255,255,0.4);
}

.slide-menu nav a:last-child {
	border-bottom: 0px;
}
